<app-slider></app-slider>

<div class="container-fluid gray-bg p-3">
     <div class="container bg-white">
          <h6 class="p-1 pt-3 pb-3">Khám phá danh mục bất động sản</h6>
          <div class="d-flex align-items-center pb-3">
               <div class="col-3">
                    <div class="row align-items-center cate-item">
                         <div class="col-4 p-2">
                              <img class="cate-icons" src="../../../../assets/img/categories-icon/mua-ban.png" alt="">
                         </div>
                         <div class="col-8 p-0 pl-2" style="position: relative;">
                              <div>
                                   <b>Mua bán</b>
                              </div>
                              <div>
                                   <small>234.980 tin đăng mua bán</small>
                              </div>
                         </div>

                         <div class="drop-cate">
                              <a routerLink="/filter">
                                   <div class="drop-cate-item p-2">Căn hộ / chung cư</div>
                              </a>
                              <a routerLink="/filter">
                                   <div class="drop-cate-item p-2">Nhà ở</div>
                              </a>
                              <a routerLink="/filter">
                                   <div class="drop-cate-item p-2">Đất</div>
                              </a>
                              <a routerLink="/filter">
                                   <div class="drop-cate-item p-2">Văn phòng, mặt bằng kinh doanh</div>
                              </a>
                         </div>
                    </div>
               </div>
               <div class="col-3">
                    <div class="row align-items-center cate-item">
                         <div class="col-4 p-2">
                              <img class="cate-icons" src="../../../../assets/img/categories-icon/cho-thue.png" alt="">
                         </div>
                         <div class="col-8 p-0 pl-2" style="position: relative;">
                              <div>
                                   <b>Cho thuê</b>
                              </div>
                              <div>
                                   <small>234.980 tin đăng cho thuê</small>
                              </div>
                         </div>

                         <div class="drop-cate">
                              <a routerLink="/filter">
                                   <div class="drop-cate-item p-2">Căn hộ / chung cư</div>
                              </a>
                              <a routerLink="/filter">
                                   <div class="drop-cate-item p-2">Nhà ở</div>
                              </a>
                              <a routerLink="/filter">
                                   <div class="drop-cate-item p-2">Đất</div>
                              </a>
                              <a routerLink="/filter">
                                   <div class="drop-cate-item p-2">Văn phòng, mặt bằng kinh doanh</div>
                              </a>
                              <a routerLink="/filter">
                                   <div class="drop-cate-item p-2">Phòng trọ</div>
                              </a>
                         </div>
                    </div>
               </div>
               <div class="col-3">
                    <a routerLink="/projects">
                         <div class="row align-items-center cate-item">
                              <div class="col-4 p-2">
                                   <img class="cate-icons" src="../../../../assets/img/categories-icon/du-an.png" alt="">
                              </div>
                              <div class="col-8 p-0 pl-2" style="position: relative;">
                                   <div>
                                        <b>Dự án</b>
                                   </div>
                                   <div>
                                        <small>4.930 dự án</small>
                                   </div>
                              </div>
                         </div>
                    </a>
               </div>
               <div class="col-3">
                    <a routerLink="/price-chart">
                         <div class="row align-items-center cate-item">
                              <div class="col-4 p-2">
                                   <img class="cate-icons" src="../../../../assets/img/categories-icon/bieu-do-gia.png"
                                        alt="">
                              </div>
                              <div class="col-8 p-0 pl-2" style="position: relative;">
                                   <div>
                                        <b>Biểu đồ giá</b>
                                   </div>
                                   <div>
                                        <small></small>
                                   </div>
                              </div>
                         </div>
                    </a>
               </div>
          </div>
     </div>
     <br>
     <div class="container bg-white">
          <div class="col-12">
               <h6 class="p-1 pt-3 pb-3">Mua bán bất động sản</h6>
               <div class="d-flex align-items-center pb-3">
                    <div class="product-tag text-justify">
                         <img src="../../../../assets/img/products/lands.jpg" alt="">
                         <p class="product-title">Đất vườn Nhuận Đức - Củ Chi, 900tr, sổ hồng riêng</p>
                         <p class="product-info">663 <span>m<sup>2</sup></span></p>
                         <p class="product-price">900 triệu</p>
                         <p class="date-place">
                              <span>3 phút trước</span> - 
                              <span>TP. Hồ Chí Minh</span>
                         </p>
                    </div>
                    <div class="product-tag text-justify">
                         <img src="../../../../assets/img/products/lands.jpg" alt="">
                         <p class="product-title">Đất vườn Nhuận Đức - Củ Chi, 900tr, sổ hồng riêng</p>
                         <p class="product-info">663 <span>m<sup>2</sup></span></p>
                         <p class="product-price">900 triệu</p>
                         <p class="date-place">
                              <span>3 phút trước</span> - 
                              <span>TP. Hồ Chí Minh</span>
                         </p>
                    </div>
                    <div class="product-tag text-justify">
                         <img src="../../../../assets/img/products/lands.jpg" alt="">
                         <p class="product-title">Đất vườn Nhuận Đức - Củ Chi, 900tr, sổ hồng riêng</p>
                         <p class="product-info">663 <span>m<sup>2</sup></span></p>
                         <p class="product-price">900 triệu</p>
                         <p class="date-place">
                              <span>3 phút trước</span> - 
                              <span>TP. Hồ Chí Minh</span>
                         </p>
                    </div>
                    <div class="product-tag text-justify">
                         <img src="../../../../assets/img/products/lands.jpg" alt="">
                         <p class="product-title">Đất vườn Nhuận Đức - Củ Chi, 900tr, sổ hồng riêng</p>
                         <p class="product-info">663 <span>m<sup>2</sup></span></p>
                         <p class="product-price">900 triệu</p>
                         <p class="date-place">
                              <span>3 phút trước</span> - 
                              <span>TP. Hồ Chí Minh</span>
                         </p>
                    </div>
                    <div class="product-tag text-justify">
                         <img src="../../../../assets/img/products/lands.jpg" alt="">
                         <p class="product-title">Đất vườn Nhuận Đức - Củ Chi, 900tr, sổ hồng riêng</p>
                         <p class="product-info">663 <span>m<sup>2</sup></span></p>
                         <p class="product-price">900 triệu</p>
                         <p class="date-place">
                              <span>3 phút trước</span> - 
                              <span>TP. Hồ Chí Minh</span>
                         </p>
                    </div>
               </div>
               <div class="col-12 p-0">
                    <a href="#" class="cate-detail">Xem thêm 250.890 tin đăng mua bán >></a>
               </div>
          </div>
     </div>
     <br>
     <div class="container bg-white">
          <h6 class="p-1 pt-3 pb-3">Cho thuê bất động sản</h6>
          
          <div class="d-flex align-items-center pb-3">
               <div class="product-tag text-justify">
                    <img src="../../../../assets/img/products/lands.jpg" alt="">
                    <p class="product-title">Đất vườn Nhuận Đức - Củ Chi, 900tr, sổ hồng riêng</p>
                    <p class="product-info">663 <span>m<sup>2</sup></span></p>
                    <p class="product-price">900 triệu</p>
                    <p class="date-place">
                         <span>3 phút trước</span> - 
                         <span>TP. Hồ Chí Minh</span>
                    </p>
               </div>
               <div class="product-tag text-justify">
                    <img src="../../../../assets/img/products/lands.jpg" alt="">
                    <p class="product-title">Đất vườn Nhuận Đức - Củ Chi, 900tr, sổ hồng riêng</p>
                    <p class="product-info">663 <span>m<sup>2</sup></span></p>
                    <p class="product-price">900 triệu</p>
                    <p class="date-place">
                         <span>3 phút trước</span> - 
                         <span>TP. Hồ Chí Minh</span>
                    </p>
               </div>
               <div class="product-tag text-justify">
                    <img src="../../../../assets/img/products/lands.jpg" alt="">
                    <p class="product-title">Đất vườn Nhuận Đức - Củ Chi, 900tr, sổ hồng riêng</p>
                    <p class="product-info">663 <span>m<sup>2</sup></span></p>
                    <p class="product-price">900 triệu</p>
                    <p class="date-place">
                         <span>3 phút trước</span> - 
                         <span>TP. Hồ Chí Minh</span>
                    </p>
               </div>
               <div class="product-tag text-justify">
                    <img src="../../../../assets/img/products/lands.jpg" alt="">
                    <p class="product-title">Đất vườn Nhuận Đức - Củ Chi, 900tr, sổ hồng riêng</p>
                    <p class="product-info">663 <span>m<sup>2</sup></span></p>
                    <p class="product-price">900 triệu</p>
                    <p class="date-place">
                         <span>3 phút trước</span> - 
                         <span>TP. Hồ Chí Minh</span>
                    </p>
               </div>
               <div class="product-tag text-justify">
                    <img src="../../../../assets/img/products/lands.jpg" alt="">
                    <p class="product-title">Đất vườn Nhuận Đức - Củ Chi, 900tr, sổ hồng riêng</p>
                    <p class="product-info">663 <span>m<sup>2</sup></span></p>
                    <p class="product-price">900 triệu</p>
                    <p class="date-place">
                         <span>3 phút trước</span> - 
                         <span>TP. Hồ Chí Minh</span>
                    </p>
               </div>
          </div>
          <div class="col-12 p-0">
               <a href="#" class="cate-detail">Xem thêm 250.890 tin đăng mua bán >></a>
          </div>
     </div>
     <br>
     <div class="container bg-white">
          <h6 class="p-1 pt-3 pb-3">Tin đăng từ đối tác chợ tốt</h6>
          
          <div class="d-flex align-items-center pb-3">
               <div class="product-tag text-justify">
                    <img src="../../../../assets/img/products/lands.jpg" alt="">
                    <p class="product-title">Đất vườn Nhuận Đức - Củ Chi, 900tr, sổ hồng riêng</p>
                    <p class="product-info">663 <span>m<sup>2</sup></span></p>
                    <p class="product-price">900 triệu</p>
                    <p class="date-place">
                         <span>3 phút trước</span> - 
                         <span>TP. Hồ Chí Minh</span>
                    </p>
               </div>
               <div class="product-tag text-justify">
                    <img src="../../../../assets/img/products/lands.jpg" alt="">
                    <p class="product-title">Đất vườn Nhuận Đức - Củ Chi, 900tr, sổ hồng riêng</p>
                    <p class="product-info">663 <span>m<sup>2</sup></span></p>
                    <p class="product-price">900 triệu</p>
                    <p class="date-place">
                         <span>3 phút trước</span> - 
                         <span>TP. Hồ Chí Minh</span>
                    </p>
               </div>
               <div class="product-tag text-justify">
                    <img src="../../../../assets/img/products/lands.jpg" alt="">
                    <p class="product-title">Đất vườn Nhuận Đức - Củ Chi, 900tr, sổ hồng riêng</p>
                    <p class="product-info">663 <span>m<sup>2</sup></span></p>
                    <p class="product-price">900 triệu</p>
                    <p class="date-place">
                         <span>3 phút trước</span> - 
                         <span>TP. Hồ Chí Minh</span>
                    </p>
               </div>
               <div class="product-tag text-justify">
                    <img src="../../../../assets/img/products/lands.jpg" alt="">
                    <p class="product-title">Đất vườn Nhuận Đức - Củ Chi, 900tr, sổ hồng riêng</p>
                    <p class="product-info">663 <span>m<sup>2</sup></span></p>
                    <p class="product-price">900 triệu</p>
                    <p class="date-place">
                         <span>3 phút trước</span> - 
                         <span>TP. Hồ Chí Minh</span>
                    </p>
               </div>
               <div class="product-tag text-justify">
                    <img src="../../../../assets/img/products/lands.jpg" alt="">
                    <p class="product-title">Đất vườn Nhuận Đức - Củ Chi, 900tr, sổ hồng riêng</p>
                    <p class="product-info">663 <span>m<sup>2</sup></span></p>
                    <p class="product-price">900 triệu</p>
                    <p class="date-place">
                         <span>3 phút trước</span> - 
                         <span>TP. Hồ Chí Minh</span>
                    </p>
               </div>
          </div>
          <div class="col-12 p-0">
               <a href="#" class="cate-detail">Xem thêm 250.890 tin đăng mua bán >></a>
          </div>
     </div>
</div>