.file-label {
     border: 3px dotted orange;
     position: relative;
     cursor: pointer;
     height:100px;
}

.s6ete4 {
     transform: translate(-12%, -60%);
     position: absolute;
     left: 50%;
     top: 50%;
}

.img-item {
     max-width: calc(33.3333% - 2px);
     justify-content: center;
     overflow: hidden;
     height: 144px;
     margin: 0 1px;
}

.img-item img {
     position: relative;
     max-height: 100%;
}

.img-item:hover img{
     opacity: .2;
}

.btn-del-img {
     transform: translate(-50%, -50%);
     color: rgb(243, 148, 6);
     background-color: unset;
     position: absolute;
     font-size: 30px;
     outline: none;
     display: none;
     border: none;
     left: 50%;
     top: 50%;
}
.img-item:hover .btn-del-img{
     display: block
}
.rdb-tinhtrang:checked + .label-radio {
     background-color: rgb(247, 222, 185);
     color: rgb(255, 94, 0);
}

.label-radio {
     line-height: 35px;
     border-radius: 20px;
     background-color: rgb(236, 236, 236);
     padding: 0 10px;
     margin-right: 10px;
}

.label-radio:hover {
     background-color: rgb(255, 236, 209);
     color: rgb(255, 123, 0);
     cursor: pointer;
}

.form-group label {
     font-size: .9em;
     margin-bottom: 0.2rem;
}

.tit-label {
     color: #999;
}

.check-box-inp {
     height: 30px;
     width: 30px;
     color: orange;
     float: left;
}

.check-box-inp + label {
     line-height: 30px;
     display: block;
     margin-left: 40px;
     font-weight: bold;
}

.maps-zone {
     height: 286px;
}