<div class="container-fluid pt-3 pb-3" style="background-color: #ececec">
     <div class="container" style="background-color: #fff; padding: 10px 20px;">
          <form [formGroup]="postForm" class="row p-1" (ngSubmit)="submit(postForm.value)">
               <div class="form-group m-0 col-4" style="padding-left: 0">
                    <label for="image-prd" class="file-label m-0 col-12">
                         <div class="s6ete4 col-12">
                              <svg xmlns="http://www.w3.org/2000/svg" width="53" height="39" viewBox="0 0 53 39">
                                   <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                                        <g stroke="#FE9900" stroke-width="2" transform="translate(-255 -179)">
                                             <g transform="translate(132 122)">
                                                  <path
                                                       d="M150.631 87.337c-5.755 0-10.42-4.534-10.42-10.127 0-5.593 4.665-10.127 10.42-10.127s10.42 4.534 10.42 10.127c0 5.593-4.665 10.127-10.42 10.127m10.42-24.755l-2.315-4.501h-16.21l-2.316 4.5h-11.579s-4.631 0-4.631 4.502v22.505c0 4.5 4.631 4.5 4.631 4.5h41.684s4.631 0 4.631-4.5V67.083c0-4.501-4.631-4.501-4.631-4.501h-9.263z">
                                                  </path>
                                             </g>
                                        </g>
                                   </g>
                              </svg>
                              <span class="ffyigpx">
                                   <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 20 21">
                                        <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                                             <g fill="#FE9900" transform="translate(-161 -428)">
                                                  <g transform="translate(132 398)">
                                                       <g transform="translate(16.648 17.048)">
                                                            <g transform="rotate(-180 16.142 16.838)">
                                                                 <rect width="2.643" height="19.82" x="8.588" y="0"
                                                                      rx="1.321"></rect>
                                                                 <path d="M9.91 0c.73 0 1.321.592 1.321 1.321v17.177a1.321 1.321 0 01-2.643 0V1.321C8.588.591 9.18 0 9.91 0z"
                                                                      transform="rotate(90 9.91 9.91)"></path>
                                                            </g>
                                                       </g>
                                                  </g>
                                             </g>
                                        </g>
                                   </svg>
                              </span>
                         </div>
                    </label>
                    <input id="image-prd" (change)="onFileSelected($event)" class="form-control-file" hidden type="file"
                         multiple="multiple">
                    <h6><label for="my-input">HÌNH ẢNH SẢN PHẨM:</label></h6>
                    <div class="col-12">
                         <div class="row">
                              <div class="col-4 p-1 img-item text-center" *ngFor="let item of arrImg, let i = index"
                                   style="background-color: #fff;">
                                   <img class="" src="{{baseUrlImg}}{{item}}" alt="image" height="120px"
                                        accept="image/*">
                                   <button class="btn-del-img" (click)="deleteImage(i)" title="Xóa ảnh này">
                                        <i class="fa-solid fa-trash-can"></i>
                                   </button>
                              </div>
                         </div>
                    </div>

                    <div>
                         <h3>Vị trí trên bản đồ</h3>
                         <agm-map [latitude]="lat" [longitude]="lng" class="maps-zone"
                              (mapClick)="onChooseLocation($event)">
                              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                              <agm-marker [latitude]="20.8761728" [longitude]="106.0288992"></agm-marker>
                         </agm-map>
                    </div>
               </div>

               <div class="col-8">

                    <!-- this field was done -->
                    <div class="form-group">
                         <label for="category">Danh mục tin đăng</label>
                         <select id="category" class="form-control" formControlName="danhMuc">
                              <option selected disabled="disabled">Danh mục tin đăng</option>
                              <option value="Căn hộ/chung cư">Căn hộ/chung cư</option>
                              <option value="Nhà ở">Nhà ở</option>
                              <option value="Đất nền">Đất nền</option>
                              <option value="Văn phòng, cửa hàng">Văn phòng, cửa hàng</option>
                              <option value="Nhà trọ">Nhà trọ</option>
                              <!-- more options -->
                         </select>
                    </div>
                    <!-- this field was done -->

                    <!-- this field was done -->
                    <div class="form-group">
                         <label for="" class="col-12 p-0 tit-label">Loại hình bất động sản</label>
                         <input type="radio" value="Cần bán" name="nhuCau" formControlName="nhuCau" id="can-ban"
                              class="rdb-tinhtrang" hidden>
                         <label for="can-ban" class="label-radio">Cần bán</label>

                         <input type="radio" value="Cho thuê" name="nhuCau" formControlName="nhuCau" id="cho-thue"
                              class="rdb-tinhtrang" hidden>
                         <label for="cho-thue" class="label-radio">Cho thuê</label>
                    </div>
                    <!-- this field was done -->

                    <!-- address zone -->
                    <div class="col-12">
                         <div class="row">
                              <div class="col-4 p-0 pr-2">
                                   <div class="form-group">
                                        <label for="province">Tỉnh / thành phố</label>
                                        <select formControlName="tinhThanh" id="province" class="form-control">
                                             <option selected disabled="disabled">Tỉnh / thành phố</option>
                                             <option value="Hà Nội">Hà Nội</option>
                                             <option value="Hải Phòng">Hải Phòng</option>
                                             <option value="Đà Nẵng">Đà Nẵng</option>
                                             <option value="Tp Hồ Chí Minh">Tp Hồ Chí Minh</option>
                                             <option value="Cần Thơ">Cần Thơ</option>
                                             <!-- more options -->
                                        </select>
                                   </div>
                              </div>
                              <div class="col-4 p-0 pr-2">
                                   <div class="form-group">
                                        <label for="district">Quận / huyện</label>
                                        <select formControlName="quanHuyen" id="district" class="form-control">
                                             <option selected disabled="disabled">Quận / huyện</option>
                                             <option value="Yên Mĩ">Yên Mĩ</option>
                                             <option value="Văn Giang">Văn Giang</option>
                                             <option value="Khoái Châu">Khoái Châu</option>
                                             <option value="Mĩ Hào">Mĩ Hào</option>
                                             <option value="Tp Hưng Yên">Tp Hưng Yên</option>
                                             <!-- more options -->
                                        </select>
                                   </div>
                              </div>
                              <div class="col-4 p-0 pr-2">
                                   <div class="form-group">
                                        <label for="phuong">Xã / phường</label>
                                        <select formControlName="xaPhuong" id="phuong" class="form-control">
                                             <option selected disabled="disabled">Xã / phường</option>
                                             <option value="Liên Nghĩa">Liên Nghĩa</option>
                                             <option value="Cửu Cao">Cửu Cao</option>
                                             <option value="Xuân Quan">Xuân Quan</option>
                                             <option value="TT Văn Giang">TT Văn Giang</option>
                                             <!-- more options -->
                                        </select>
                                   </div>
                              </div>
                         </div>
                    </div>


                    <!-- this field was done -->
                    <h6>Thông tin chi tiết</h6>
                    <div class="form-group">
                         <label for="" class="col-12 p-0 tit-label">Tình trạng bất động sản</label>
                         <input formControlName="tinhTrang" type="radio" value="Đã bàn giao" name="tinhTrang"
                              id="da-ban-giao" class="rdb-tinhtrang" hidden>
                         <label for="da-ban-giao" class="label-radio">Đã bàn giao</label>

                         <input formControlName="tinhTrang" type="radio" value="Chưa bàn giao" name="tinhTrang"
                              id="chua-ban-giao" class="rdb-tinhtrang" hidden>
                         <label for="chua-ban-giao" class="label-radio">Chưa bàn giao</label>
                    </div>
                    <!-- this field was done -->


                    <div class="col-12">
                         <div class="row">
                              <div class="col-12 p-0 pr-2">
                                   <label for="loai-hinh" class="ctn-input col-12">
                                        <input formControlName="loaiHinh" class="txt-input" type="text" id="loai-hinh">
                                        <label class="lbl-input" for="loai-hinh">Loại hình căn hộ</label>
                                   </label>
                              </div>

                              <div class="col-6 p-0 pr-2">
                                   <label for="so-phong" class="ctn-input col-12">
                                        <input formControlName="soPhongNgu" class="txt-input" type="number"
                                             id="so-phong">
                                        <label class="lbl-input" for="so-phong">Số phòng ngủ</label>
                                   </label>
                              </div>

                              <div class="col-6 p-0 pr-2">
                                   <label for="so-wc" class="ctn-input col-12">
                                        <input formControlName="soPhongVS" class="txt-input" type="number" id="so-wc">
                                        <label class="lbl-input" for="so-wc">Số phòng vệ sinh</label>
                                   </label>
                              </div>

                              <div class="col-6 p-0 pr-2">
                                   <label for="huong-bcong" class="ctn-input col-12">
                                        <input formControlName="huongBanCong" class="txt-input" type="text"
                                             id="huong-bcong">
                                        <label class="lbl-input" for="huong-bcong">Hướng ban công</label>
                                   </label>
                              </div>
                              <div class="col-6 p-0 pr-2">
                                   <label for="huong-cua-chinh" class="ctn-input col-12">
                                        <input formControlName="huongCuaChinh" class="txt-input" type="text"
                                             id="huong-cua-chinh">
                                        <label class="lbl-input" for="huong-cua-chinh">Hướng cửa chính</label>
                                   </label>
                              </div>
                         </div>
                    </div>

                    <h6>Thông tin khác</h6>

                    <div class="col-12">
                         <div class="row">
                              <div class="form-group col-6 p-0 pr-2">
                                   <label for="category">Giấy tờ pháp lí</label>
                                   <select formControlName="giayTo" id="category" class="form-control">
                                        <option selected disabled="disabled">Giấy tờ pháp lí</option>
                                        <option value="Đã có sổ">Đã có sổ</option>
                                        <option value="Đang chờ sổ">Đang chờ sổ</option>
                                        <option value="Giấy tờ khác">Giấy tờ khác</option>
                                        <!-- more options -->
                                   </select>
                              </div>
                              <div class="form-group col-6 p-0 pr-2">
                                   <label for="category">Tình trạng nội thất</label>
                                   <select formControlName="noiThat" id="category" class="form-control">
                                        <option selected disabled="disabled">Tình trạng nội thất</option>
                                        <option value="Cao cấp">Cao cấp</option>
                                        <option value="Đầy đủ">Đầy đủ</option>
                                        <option value="Nhà trống">Nhà trống</option>
                                        <!-- more options -->
                                   </select>
                              </div>
                         </div>

                    </div>

                    <div class="form-group">
                         <input formControlName="canGoc" id="can-goc" type="checkbox" class="check-box-inp">
                         <label for="can-goc">Căn góc</label>
                    </div>

                    <h6>Diện tích và giá</h6>
                    <div class="col-12">
                         <div class="row">
                              <div class="col-12 p-0 pr-2">
                                   <label for="dien-tich" class="ctn-input col-12">
                                        <input formControlName="dienTich" class="txt-input" type="text" id="dien-tich">
                                        <label class="lbl-input" for="dien-tich">Diện tích</label>
                                   </label>
                              </div>

                              <div class="col-12 p-0 pr-2">
                                   <label for="gia-ban" class="ctn-input col-12">
                                        <input formControlName="giaBan" class="txt-input" type="tel" id="gia-ban">
                                        <label class="lbl-input" for="gia-ban">Giá bán</label>
                                   </label>
                              </div>

                              <div class="col-12 p-0 pr-2">
                                   <label for="tien-coc" class="ctn-input col-12">
                                        <input formControlName="tienCoc" class="txt-input" type="tel" id="tien-coc">
                                        <label class="lbl-input" for="tien-coc">Số tiền cọc</label>
                                   </label>
                              </div>
                         </div>
                    </div>

                    <h6 class="mt-2">Tiêu đề tin đăng và mô tả chi tiết</h6>
                    <div class="col-12">
                         <div class="row">
                              <div class="col-12 p-0 pr-2">
                                   <label for="tieu-de" class="ctn-input col-12">
                                        <input formControlName="tieuDe" class="txt-input" type="text" id="tieu-de">
                                        <label class="lbl-input" for="tieu-de">Tiêu đề tin</label>
                                   </label>
                              </div>
                         </div>
                    </div>

                    <div class="form-group pr-2">
                         <label for="mo-ta">Mô tả chi tiết</label>
                         <textarea formControlName="moTa" id="mo-ta" class="form-control" rows="5"></textarea>
                    </div>

                    <h6 class="mt-2">Bạn là</h6>
                    <div class="form-group">
                         <input type="radio" value="Môi giới" formControlName="canhanMoigioi" name="canhanMoigioi"
                              id="moi-gioi" class="rdb-tinhtrang" hidden>
                         <label for="moi-gioi" class="label-radio">Môi giới</label>

                         <input type="radio" value="Cá nhân" formControlName="canhanMoigioi" name="canhanMoigioi"
                              id="ca-nhan" class="rdb-tinhtrang" hidden>
                         <label for="ca-nhan" class="label-radio">Cá nhân</label>
                    </div>

                    <div class="col-12">
                         <div class="row">
                              <div class="col-6 p-0 pr-2">
                                   <button class="col-12 btn btn-primary" type="button">Xem trước</button>
                              </div>
                              <div class="col-6 p-0 pr-2">
                                   <button class="col-12 btn btn-success" type="submit">Đăng tin</button>
                              </div>
                         </div>
                    </div>
               </div>
          </form>
     </div>
</div>