.btn-update {
     background-color: unset;
     color: #ffb400;
     font-weight: bold;
     border: 1px solid #ffb400;
}

.btn-update:hover {
     background-color: #ffb30049;
}

h6 {
     font-weight: bold;
     border-bottom: 1px solid rgb(238, 238, 238);
}

.bread-crumb {
     font-size: .9em;
}