.btn-update {
     background-color: unset;
     color: #ffb400;
     font-weight: bold;
     border: 1px solid #ffb400;
}

.btn-update:hover {
     background-color: #ffb30049;
}

h6 {
     font-weight: bold;
     border-bottom: 1px solid rgb(238, 238, 238);
}

.bread-crumb {
     font-size: .9em;
}

.district-item:hover {
     cursor: pointer;
}

.btn-update .svg-loading {
     -webkit-animation: spin 2s linear infinite;
     /* Safari */
     animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
     0% {
          -webkit-transform: rotate(0deg);
     }

     100% {
          -webkit-transform: rotate(360deg);
     }
}

@keyframes spin {
     0% {
          transform: rotate(0deg);
     }

     100% {
          transform: rotate(360deg);
     }
}