.box-chat-container {
     height: calc(100vh - 120px);
}


.chat-filter{
     height: 45px;
     background-color: #fff;
}

.list-contact {
     overflow-y: scroll;
     height: calc(100% - 50px);
     border-bottom: 1px solid #ccc;
     margin-top: 5px;
}

.contact-item {
     height: 90px;
     border: 1px solid #ccc;
     border-bottom: unset;
     padding: 5px 8px;
     background-color: #fff;
}

.user-avt{
     height: 60px;
     width: 60px;
     border-radius: 50%;
}

.chat-filter-item{
     line-height: 45px;
     user-select: none;
}

.filter-item-active {
     border-bottom: 5px solid #fff1b5;
     font-weight: bold;
}

.chat-filter-item:hover {
     color: black !important;
     cursor: pointer;
     border-bottom: 5px solid #fff1b5;
}

.box-chat-item{
     background-color: #ffb30086;
}

a:hover {
     color: #333 !important;
}

.laksjdf {
     background-image: url(../../../../assets/img/banner/chat-feature.png);
     background-repeat: no-repeat;
     background-position:center;
     background-size: 50%;
}