<div class="container">
     <div class="col-12">
          <div class="row">
               <div class="col-3 p-3">
                    <h6>Tải ứng dụng WeExchange</h6>
                    <div class="row">
                         <div class="col-6 p-0">
                              <img src="../../../../assets/img/footer/qr-code.jpg" class="col-12 p-2" alt="">
                         </div>
                         <div class="col-6 p-0">
                              <img src="https://static.chotot.com/storage/default/ios.svg" class="col-12 p-2" alt="">
                              <img src="https://static.chotot.com/storage/default/android.svg" class="col-12 p-2"
                                   alt="">
                              <img src="https://static.chotot.com/storage/default/huawei_app_install.webp"
                                   class="col-12 p-2" alt="">
                         </div>
                    </div>
               </div>
               <div class="col-3 p-3">
                    <h6>Hỗ trợ khách hàng</h6>
                    <a href="">
                         <p>Trung tâm trợ giúp</p>
                    </a>
                    <a href="">
                         <p>An toàn mua bán</p>
                    </a>
                    <a href="">
                         <p>Quy định cần biết</p>
                    </a>
                    <a href="">
                         <p>Quy chế quyền riêng tư</p>
                    </a>
                    <a href="">
                         <p>Liên hệ hỗ trợ</p>
                    </a>
               </div>

               <div class="col-3 p-3">
                    <h6>About we</h6>
                    <a href="">
                         <p>Giới thiệu</p>
                    </a>
                    <a href="">
                         <p>Tuyển dụng</p>
                    </a>
                    <a href="">
                         <p>Truyền thông</p>
                    </a>
                    <a href="">
                         <p>Blog</p>
                    </a>
               </div>

               <div class="col-3 p-3">
                    <h6>Liên kết</h6>
                    <div class="row">
                         <div class="col-12 p-0 d-flex justify-content-around">
                              <a href="">
                                   <img class="link-icons" src="https://static.chotot.com/storage/default/facebook.svg" alt="">
                              </a>
                              <a href="">
                                   <img class="link-icons" src="https://static.chotot.com/storage/default/youtube.svg" alt="">
                              </a>
                              <a href="">
                                   <img class="link-icons" src="https://static.chotot.com/storage/default/linkedin.svg" alt="">
                              </a>
                         </div>
                    </div>
                    <h6 class="mt-3">Chứng nhận</h6>
                    <div class="row">
                         <div class="col-12 p-0 d-flex justify-content-around">
                              <a href="">
                                   <img class="col-12" src="https://static.chotot.com/storage/default/certificate.webp" alt="">
                              </a>
                         </div>
                    </div>
               </div>
          </div>
     </div>

     <div class="col-12 com-info">
          <p>
               CÔNG TY TNHH WeExchange - Địa chỉ: Phòng 1808, Tầng 18, Mê Linh Point Tower, 02 Ngô Đức Kế, Phường Bến Nghé, Quận 1, TP Hồ Chí Minh
          </p>
          <p>
               Giấy chứng nhận đăng ký doanh nghiệp số 0312120782 do Sở Kế Hoạch và Đầu Tư TPHCM cấp ngày 11/01/2013
          </p>
          <p>
               Email: trogiup@weexchange.vn - Tổng đài CSKH: 19003003 (1.000đ/phút)
          </p>
     </div>
</div>