/* You can add global styles to this file, and also import other style files */
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html {
     font-family: Arial, Helvetica, sans-serif;
     scroll-behavior: smooth;
}

.ctn-input {
     border: 1px solid #ccc;
     border-radius: 8px;
     height: 45px;
     padding: 0 10px;
     padding-top: 10px;
     position: relative;
}

.ctn-input .txt-input {
     outline: none;
     border: none;
     height: 58%;
     width: 100%;
     position: relative;
     margin-top: 9px;
     font-size: 15px;
     line-height: 10px;
}

.ctn-input .lbl-input {
     position: absolute;
     top: 50%;
     left: 10px;
     transform: translateY(-50%);
     font-size: 1em !important;
     font-style: italic;
     color: #888;
     user-select: none;
}

.ctn-input .lbl-input.active{
     font-size: 12px !important;
     transition: .2s ease;
     transform: translateY(-22px);
}

.ctn-input.active {
     border: orange 1px solid;
}


.box-chat {
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527);
     background-color: rgb(236, 208, 116);
     border-radius: 6px 6px 0 0;
     overflow: hidden;
     position: fixed;
     height: 450px;
     width: 350px;
     right: 100px;
     z-index: 11;
     bottom: 0;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

.head-bxc {
     justify-content: space-between;
     background-color: #fa983d;
     align-items: center;
     display: flex;
     height: 45px;
     z-index: 33;
     right: 0;
     left: 0;
     top: 0;
}

.head-bxc img {
     border-radius: 50%;
     height: 38px;
     width: 38px;
     margin: 0 3px;
}

.head-bxc .kf {
     flex: 1;
     display: flex;
     justify-content: flex-end;
     line-height: 38px;
     align-items: center;
}

.kf button {
     margin-right: 5px;
     border: none;
     outline: none;
     background-color: unset;
     font-size: 27px;
     font-weight: bold;
     height: 25px;
     line-height: 17px;
     display: inline-flex;
     width: 25px;
     border-radius: 50%;
     justify-content: center;
}
.kf button:hover {
     background-color: #f5f5f57a;
}

.input-bxc {
     height: 45px;
     display: flex;
     justify-content: space-between;
}

.input-bxc input {
     flex: 1;
     height: 100%;
     padding: 0 10px;
     outline: none;
     border: none;
     background-color: unset;
}

/* begin for body box-chat */
.body-bxc{
     flex: 1;
     display: flex;
     flex-direction: column-reverse;
     background-color: #f1b883;
     overflow-y: scroll;
}

.body-bxc div:first-child{
     margin-bottom: 10px;
}

.body-bxc div{
     display: flex;
     margin: 4px 8px;
}

.body-bxc .is-auth{
     justify-content: flex-end;
}

.body-bxc div span {
     background-color: rgb(255, 123, 0);
     padding: 5px 10px;
     color: rgb(255, 255, 255);
     max-width: 68%;
     line-height: 18px;
     border-radius: 5px;
     text-align: justify;
}

.hide{
     display: none !important;
}

a {
     text-decoration: none !important;
     color: #333;
}

.product-tag {
     width: 20%;
     padding: 10px;
}
.product-tag:hover {
     box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.527);
     cursor: pointer;
}
.product-tag img {
     width: 100%;
     height: 190px;
}

p.product-title {
     font-weight: 500;
}

p.product-info {
     color: rgb(85, 80, 80);
}

p.product-price {
     color: red;
     font-weight: 700;
}
p.date-place {
     font-size: .9em;
     color: rgb(122, 122, 122);
}

.product-tag p {
     line-height: 20px;
     margin-bottom: 5px;
}

.cate-detail {
     text-align: center;
     color: rgb(0, 153, 255);
     font-weight: bold;
     line-height: 50px;
     border-top: 1px solid rgba(153, 153, 153, 0.603);
     width: 100%;
     display: block;
}

div.ql-editor.ql-blank {
     height: 300px;
}